@media (max-width: 575px) {

  .hide-viewport-small {
    display: none !important;
  }

  .show-viewport-small {
    display: block !important;
  }

  .badge {
    font-size: 14px;

    &.mobile-result {
      padding: 5px !important;
      svg {
        margin: 0 !important;
      }
    }
  }

  ::v-deep .modal-wrapper {
    .modal-container {
      width: calc(100% - 40px) !important;
    }
  }

  .form-wrapper {
    ul {
      li {
        a {
          padding: 10px !important;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hide-viewport-medium {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-viewport-large {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hide-viewport-xlarge {
    display: none !important;
  }
}