@media (max-width: 575px) {
  .badge {
    padding: 5px !important;

    &.legend {
      padding: 2px 8px 0 8px !important;
    }

    &.jurisdiction-check:not(.legend) {
      svg {
        margin: 0 !important;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}