$text-color:        darken($color-grey, 55%);

// these are totaly random, no rhyme or reason
$color-cycl: #1e5aae;
$color-rein: #31C77D;
$color-comp: darken(#F4E554, 20%);
$color-fire: #F8B137;
$color-tv:   #DE5B42;
$color-ee:   darken(#D4DCFF, 20%);
$color-home: #7D83FF;
$color-prmt: #007FFF;
$color-shtr: darken(#1AFFD5, 20%);

[v-cloak] { display: none; }

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Create a tint
//
// @param  {Color}  $color to tint
// @param  {Number} $percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Create a shade
//
// @param  {Color}  $color to shade
// @param  {Number} $percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@-webkit-keyframes solidColor {
  0%    { background-color: $color-blue-dark }
  50%   { background-color: $color-blue-light; }
  100%  { background-color: $color-blue-dark }
}

@-moz-keyframes solidColor {
  0%    { background-color: $color-blue-dark }
  50%   { background-color: $color-blue-light; }
  100%  { background-color: $color-blue-dark }
}

@keyframes solidColor {
  0%    { background-color: $color-blue-dark }
  50%   { background-color: $color-blue-light; }
  100%  { background-color: $color-blue-dark }
}

body, html {
  font-family: $font-text;
  height: 100%;
}

h1, h2, h3, h4, p, ol, ul {
  color: $text-color;
}

hr {
  margin: $space-m 0;
  border-bottom: 1px solid lighten($text-color, 50%);
}

pre, code {
  border-radius: $radius-default;
  background-color: $color-blue;
  color: white;
  padding: 1px 10px;
  font-size: $size-s;
  font-weight: $weight-semi-bold;
}

.alert {
  z-index: 1;

  p {
    font-size: 18px;
  }
}

#address-mapped-error-modal {
  ::v-deep .modal-wrapper {
    .modal-container {
      width: 500px;

      .modal-body {
        max-height: 100%;

        .badge {
          margin: 5px 0 0 0;
        }

        .alert {
          margin: 0;
        }

        p, blockquote {
          font-weight: $weight-semi-bold;
        }

        blockquote {
          color: $text-color;
          border-left: 3px solid shade($color-ucla-gold-lighter, 40%);
          margin: 0px 0px 15px 10px;
          padding: 0 0 0 15px;
          font-style: italic;
        }
      }
    }
  }
}

.modal-wrapper .modal-container .modal-body {
  .alert {
    margin: 0 0 20px 0;
  }

  .field-group {
    label {
      font-weight: $weight-semi-bold;
      margin: 0 10px 0 0;
    }
  }
}

.button-group {
  margin: 0 0 20px 0;

  button {
    padding: 5px 20px;
    font-size: 18px;
    border: 1px solid $color-grey;
    background: rgba($color-cloud, 0.4);
    color: lighten($text-color, 5%);
    // color: white;
    letter-spacing: 1px;
    font-weight: 500;

    &:hover,
    &.active {
      background: darken($color-cloud, 3%);
    }
  }
}

.badge-legend {
  display: none;
}

.badge {
  padding: 2px 8px 0 8px;

  &.legend {
    font-size: 14px;
    margin: 0;

    svg {
      margin: 0 10px 0 0;
    }
  }

  &.jurisdiction-check {
    svg {
      width: 15px;
      height: 15px;
      margin: 0 10px 0 0;
    }

    &.inside {
      background-color: $color-green;
    }

    &.outside {
      background-color: $color-vermilion;
    }
  }
}

ul {
  list-style: none;
  padding: 0;

  li {
    color: lighten($text-color, 15%);
    margin: 0 0 10px 0;
  }
}

a {
  position: relative;
  color: $color-blue;

  &:hover,
  &:focus {
    color: darken($color-blue, 5%);

    &.external {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='external-link' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath id='arrow' fill='%231e5aae' d='M511.9292603,2.9698486C512,1.3435059,510.6564941,0,508.9594116,0L280.0689697,0.0707397 C278.442627,0,277.0991211,1.3435059,277.0991211,3.0405884l0.1414185,47.2346802 c0,1.6970825,1.3435059,3.0405884,3.0405884,3.0405884l136.0473022-1.838501 c2.616333-0.0706787,4.0305176,3.1820068,2.1213379,5.0911865L242.3094482,232.7088623 c-1.2020874,1.2020874-1.2020874,3.0405273,0,4.2426147l32.5269165,32.5269165c1.2020874,1.2020874,3.0405884,1.2020874,4.2426758,0 L455.572876,92.9845581c1.9091797-1.9092407,5.0911865-0.5656738,5.0911865,2.1212769l-1.838501,136.7544556 c0,1.6970825,1.3435059,3.0405884,3.1113281,2.9698486h47.0932617C510.6564941,234.9008789,512,233.557373,512,231.8602905 L511.9292603,2.9698486z'/%3E%3Cpath id='box' fill='%231e5aae' d='M393.5952148,459H56c-1.6568527,0-3-1.3431396-3-3V118.4052734c0-1.6568527,1.3431473-3,3-3 h157.4873047c1.6568604,0,3-1.3431473,3-3v-47c0-1.6568527-1.3431396-3-3-3H3c-1.6568543,0-3,1.3431473-3,3V485.5V509 c0,1.6568604,1.3431457,3,3,3h23.5h420.0952148c1.6568604,0,3-1.3431396,3-3V298.5136719c0-1.6568604-1.3431396-3-3-3h-47 c-1.6568604,0-3,1.3431396-3,3V456C396.5952148,457.6568604,395.2520752,459,393.5952148,459z'/%3E%3C/svg%3E");
      }
    }
  }

  &.external {
    display: inline-flex;
    padding: 0 25px 0 0;
    margin: 0 5px 0 0;

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='external-link' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath id='arrow' fill='%234f4f4f' d='M511.9292603,2.9698486C512,1.3435059,510.6564941,0,508.9594116,0L280.0689697,0.0707397 C278.442627,0,277.0991211,1.3435059,277.0991211,3.0405884l0.1414185,47.2346802 c0,1.6970825,1.3435059,3.0405884,3.0405884,3.0405884l136.0473022-1.838501 c2.616333-0.0706787,4.0305176,3.1820068,2.1213379,5.0911865L242.3094482,232.7088623 c-1.2020874,1.2020874-1.2020874,3.0405273,0,4.2426147l32.5269165,32.5269165c1.2020874,1.2020874,3.0405884,1.2020874,4.2426758,0 L455.572876,92.9845581c1.9091797-1.9092407,5.0911865-0.5656738,5.0911865,2.1212769l-1.838501,136.7544556 c0,1.6970825,1.3435059,3.0405884,3.1113281,2.9698486h47.0932617C510.6564941,234.9008789,512,233.557373,512,231.8602905 L511.9292603,2.9698486z'/%3E%3Cpath id='box' fill='%234f4f4f' d='M393.5952148,459H56c-1.6568527,0-3-1.3431396-3-3V118.4052734c0-1.6568527,1.3431473-3,3-3 h157.4873047c1.6568604,0,3-1.3431473,3-3v-47c0-1.6568527-1.3431396-3-3-3H3c-1.6568543,0-3,1.3431473-3,3V485.5V509 c0,1.6568604,1.3431457,3,3,3h23.5h420.0952148c1.6568604,0,3-1.3431396,3-3V298.5136719c0-1.6568604-1.3431396-3-3-3h-47 c-1.6568604,0-3,1.3431396-3,3V456C396.5952148,457.6568604,395.2520752,459,393.5952148,459z'/%3E%3C/svg%3E");
    }
  }
}

.form-wrapper {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;

  form {
    z-index: 1;
    width: 100%;

    label {
      @include visuallyHidden;
    }

    ::v-deep input {
      z-index: 1000;
      box-shadow: none;
      border: 1px solid $color-grey-dark;
      color: $text-color;
      font-size: 18px;
      border-radius: $radius-default;
      caret-color: $color-blue; //no IE support
      padding-left: 40px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: left 10px center;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='search-icon' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath id='path' fill='%23bfbfbf' d='M372,336c27.6-35.3,44-79.7,44-128C416,93.1,322.9,0,208,0S0,93.1,0,208s93.1,208,208,208 c48.3,0,92.7-16.4,128-44 M315.6,377.9L442.7,505c9.4,9.4,24.6,9.4,33.9,0l28.3-28.3c9.4-9.4,9.4-24.6,0.1-34L374.5,312.2 M208,336 c-70.7,0-128-57.2-128-128c0-70.7,57.2-128,128-128c70.7,0,128,57.2,128,128C336,278.7,278.8,336,208,336z'/%3E%3C/svg%3E");

      &:focus,
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='search-icon' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath id='path' fill='%238c8c8c' d='M372,336c27.6-35.3,44-79.7,44-128C416,93.1,322.9,0,208,0S0,93.1,0,208s93.1,208,208,208 c48.3,0,92.7-16.4,128-44 M315.6,377.9L442.7,505c9.4,9.4,24.6,9.4,33.9,0l28.3-28.3c9.4-9.4,9.4-24.6,0.1-34L374.5,312.2 M208,336 c-70.7,0-128-57.2-128-128c0-70.7,57.2-128,128-128c70.7,0,128,57.2,128,128C336,278.7,278.8,336,208,336z'/%3E%3C/svg%3E");
      }

      &::-webkit-input-placeholder {
        color: lighten($text-color, 40%);
        font-weight: 400;
      }

      &:-moz-placeholder {
        color: lighten($text-color, 40%);
        font-weight: 400;
      }

      &::-moz-placeholder {
        color: lighten($text-color, 40%);
        font-weight: 400;
      }

      &:-ms-input-placeholder {
        color: lighten($text-color, 40%) !important;
        font-weight: 400 !important;
      }


      &::-ms-input-placeholder {
        color: lighten($text-color, 40%);
        font-weight: 400;
      }

      &::placeholder {
        color: lighten($text-color, 40%);
        font-weight: 400;
      }
    }

    ::v-deep button[type=submit] {
      display: none;
      background-color: $color-green;
      border-color: $color-green;
      margin: 0;

      svg {}

      &:hover,
      &:focus {
        background-color: darken($color-green, 5%);
      }
    }
  }

  ul {
    z-index: 1000;
    position: absolute;
    top: 38px;
    border: 1px solid $color-grey-dark;
    border-top: none;
    overflow: scroll;
    max-height: 300px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.10);
    -webkit-border-bottom-right-radius: $radius-default;
    -webkit-border-bottom-left-radius: $radius-default;
    -moz-border-radius-bottomright: $radius-default;
    -moz-border-radius-bottomleft: $radius-default;
    border-bottom-right-radius: $radius-default;
    border-bottom-left-radius: $radius-default;

    li {
      display: flex;
      padding: 0;
      margin: 0;
      cursor: pointer;
      color: $text-color;

      &:focus {
        border: 3px solid red;
      }

      a {
        color: $text-color;
        font-weight: $weight-semi-bold;
        text-decoration: none;
        width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        border: 3px solid transparent;

        &:focus {
          outline: none;
          border: 3px dashed $color-blue;
        }
      }

      .badge {
        margin-left: auto;
      }

      &:hover {
        background-color: rgba($color-cloud, 0.75);
      }

      &:first-child {
        border-top: 1px solid $color-grey-dark;
      }

      &:nth-child(even) {
        background-color: rgba($color-cloud, 0.75);

        &:hover {
          background-color: rgba($color-cloud, 0.75);
        }
      }
    }
  }
}

.vue-map-container,
.vue-street-view-pano-container {
  position: relative;

  &:before {
    display: none;
    pointer-events: none;
    z-index: 1;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba($color-blue-darker, 0.15);
  }
}

.address-choices {
  margin: 40px 0 0 0;

  tr {
    cursor: pointer;

    &:hover {
      background-color: rgba($color-cloud, 0.5);
    }

    &:nth-child(even) {
      background-color: rgba($color-cloud, 0.3);

      &:hover {
        background-color: rgba($color-cloud, 0.5);
      }
    }
  }
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 0 0;

  h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: $weight-semi-bold;
    letter-spacing: .5px;
    font-size: 28px;
    color: lighten($text-color, 15%);
    border-bottom: 2px solid $color-grey;
    padding: 0 0 10px 0;
    margin: 0 0 40px 0;

    &:after {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 0;
      height: 4px;
      width: 125px;
      background-color: $color-orange-light;
    }
  }

  blockquote {
    letter-spacing: .5px;
    font-weight: 500;
    font-style: italic;
    border-left: 2px solid $color-grey-light;
  }

  h5 {
    margin: 20px 0;
    color: lighten($text-color, 20%);
    font-style: italic;
    font-weight: $weight-semi-bold;
  }
}

table {
  width: 100%;

  tbody {
    tr {
      th, td {
        vertical-align: top;
        padding: 20px 15px;
        text-align: left;
        letter-spacing: .5px;
        font-weight: $weight-semi-bold;
        color: lighten($text-color, 20%);
        overflow-wrap: break-word;
        word-wrap: break-word;

        small {
          display: block;
          margin: 5px 0;
          font-weight: $weight-normal;
        }

        p {
          font-weight: $weight-normal;
          color: $text-color;
          margin: 20px 0 10px 0;
        }
      }

      &.clickable {
        th, td {
          &:hover {
            a {
              &.external {
                &:after {
                  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='external-link' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath id='arrow' fill='%231e5aae' d='M511.9292603,2.9698486C512,1.3435059,510.6564941,0,508.9594116,0L280.0689697,0.0707397 C278.442627,0,277.0991211,1.3435059,277.0991211,3.0405884l0.1414185,47.2346802 c0,1.6970825,1.3435059,3.0405884,3.0405884,3.0405884l136.0473022-1.838501 c2.616333-0.0706787,4.0305176,3.1820068,2.1213379,5.0911865L242.3094482,232.7088623 c-1.2020874,1.2020874-1.2020874,3.0405273,0,4.2426147l32.5269165,32.5269165c1.2020874,1.2020874,3.0405884,1.2020874,4.2426758,0 L455.572876,92.9845581c1.9091797-1.9092407,5.0911865-0.5656738,5.0911865,2.1212769l-1.838501,136.7544556 c0,1.6970825,1.3435059,3.0405884,3.1113281,2.9698486h47.0932617C510.6564941,234.9008789,512,233.557373,512,231.8602905 L511.9292603,2.9698486z'/%3E%3Cpath id='box' fill='%231e5aae' d='M393.5952148,459H56c-1.6568527,0-3-1.3431396-3-3V118.4052734c0-1.6568527,1.3431473-3,3-3 h157.4873047c1.6568604,0,3-1.3431473,3-3v-47c0-1.6568527-1.3431396-3-3-3H3c-1.6568543,0-3,1.3431473-3,3V485.5V509 c0,1.6568604,1.3431457,3,3,3h23.5h420.0952148c1.6568604,0,3-1.3431396,3-3V298.5136719c0-1.6568604-1.3431396-3-3-3h-47 c-1.6568604,0-3,1.3431396-3,3V456C396.5952148,457.6568604,395.2520752,459,393.5952148,459z'/%3E%3C/svg%3E");
                }
              }
            }
          }
        }
      }
    }
  }
}

.tabs-group {
  margin: 0 0 60px 0;

  ul {
    border-bottom: 2px solid $color-grey;

    > li {
      position: relative;
      text-transform: uppercase;
      font-weight: $weight-semi-bold;
      letter-spacing: .5px;
      font-size: 28px;
      color: lighten($text-color, 50%);


      &:focus,
      &:hover,
      &.active {
        color: lighten($text-color, 15%);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom: 1px solid $color-grey;
        border-left-color: transparent;

        &:after {
          background-color: $color-orange-light;
        }
      }

      &:after {
        position: absolute;
        content: '';
        bottom: -2px;
        left: 0;
        height: 4px;
        width: 125px;
        background-color: transparent;
      }
    }
  }

  .tab-content {
    padding: 40px 0 0 0;
  }
}